body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(51, 233, 15);
}

header, footer {
    background-color: #e2ff07;
    color: #0048ff;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.product, .person, .contact-info {
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Additional CSS for product page */

/* Additional CSS for product page */

/* Additional CSS for product page */

.languages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.language {
    text-align: center;
    width: 150px; /* Adjust the width of each language's container */
    margin: 20px; /* Add margin around each language */
}

.language img {
    width: 100%; /* Make the image fill the container */
    height: auto;
    border-radius: 50%; /* Make the image circular */
}



